In [18]:
# get imports
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn as sk
import json
import json

In [19]:
with open("keys.json", 'r') as f:
    key = json.loads(f.read())
    
apikey = key["Alphavantage API Key"]
default_path = 'C:\\Users\\Logan\\Desktop\\stockbot'

In [28]:
def getInput():
    ticker = input("Input stock ticker: ")
    interval = input("What frequency interval would you like? Choose between '5min', '15min', '30min', and '60min' ")
    allowedtimevalues = ('5min', '15min', '30min', '60min')
    if interval not in allowedtimevalues:
        raise Exception("Incorrect time frequency interval, please input one of the following: '5min', '15min', '30min', '60min'")

getInput()

Input stock ticker: AMC
What frequency interval would you like? Choose between '5min', '15min', '30min', and '60min' 5min

In [29]:
dataPath = f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval={interval}&apikey={apikey}&datatype=csv&outputsize=full"

In [30]:
print(dataPath)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AMC&interval=5min&apikey=P8ML6OF6F5SGXR0M&datatype=csv&outputsize=full

In [31]:
df = pd.read_csv(dataPath)

In [33]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3952 entries, 0 to 3951
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  3952 non-null   object
 1   open       3952 non-null   float64
 2   high       3952 non-null   float64
 3   low        3952 non-null   float64
 4   close      3952 non-null   float64
 5   volume     3952 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 185.4+ KB

             timestamp  open  high     low  close  volume
0  2021-05-03 20:00:00  9.68  9.68  9.6599   9.66    9146
1  2021-05-03 19:55:00  9.67  9.69  9.6700   9.67    8084
2  2021-05-03 19:50:00  9.68  9.69  9.6700   9.69    3050
3  2021-05-03 19:45:00  9.69  9.70  9.6800   9.68    5118
4  2021-05-03 19:40:00  9.69  9.70  9.6800   9.69    7646